# Environnements Python
*.pyc
*.pyo
*.pyd
*.swp

# Environnements virtuels
env/
venv/
.venv/

# Configurations spécifiques de l'IDE
.vscode/
.idea/
*.iml

# Node.js et Tailwind CSS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de logs
*.log

# Fichiers de base de données SQLite
*.sqlite3

# Staticfiles et fichiers compilés
/staticfiles/
media/
*.css.map
*.js.map

backend/.npm-cache/

# Configurations Docker
*.env
docker-compose.override.yml
docker-compose*.yaml~

# Autres fichiers temporaires ou inutiles
*.tmp
*.bak
*.orig
.DS_Store
Thumbs.db
package-lock.json

# Ignorer les migrations compilées
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd

# Build outputs
build/
dist/

# Fichiers spécifiques à Django
*.mo
*.pot

# Fichiers secrets
secret_key.txt

shell.nix